@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    height: 100vh;

}

.container {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centre {
    background-color: white;
    width: 300px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.centre img {
    width: 300px;
    height: 300px;
    padding: 15px;
    border: none;
    border-radius: 10%;
}

.centre h2, p {
    text-align: center;
}

.centre p {
    margin: 5px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.502);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: static;
    justify-content: end;
    bottom: 70%;
 }
.attribution a { color: hsl(228, 45%, 44%); }
